[2020-12-01 21:33] efreethy opened #7 "Support cypress 6.0.0"
### Repro
* upgrade cypress in package.json to `6.0.0`
* `npm run build`
* `npm t`

### Error
[code]

[2020-12-04 13:07] bluepioupiou commented on #7
I will add that trying to add this plugin to a newly created cypress 6.0.0 env I've got this error

` TypeError: Cannot read property 'createEmptyStatement' of undefined`

will be nice to have these features on the last cypress version

[2020-12-09 23:37] efreethy commented on #7
@annaet do you see this as a quick fix? I can take a stab at it if you are strapped. Would love to see cypress 6 support.

[2020-12-10 09:47] annaet commented on #7
Sorry for the delay on replying to this - turns out I didn't have notifications set up for new issues!

I've upgraded the plugin to `cypress 6.1.0` and done used the new version in the [cypress-tags-example](https://github.com/annaet/cypress-tags-example) project.

Upgrading `cypress-tags` to `v0.0.17` should work for new projects now. Please let me know if you encounter any more issues with this!

[2020-12-10 09:47] #7 closed

[2021-01-04 19:33] coltdorsey opened #9 "Loading fixture data via `require` causes crash"
When loading fixture data via `require` or `import`, this causes the plugin to crash.

`import accounts from '../../fixtures/accounts.json'`
or
`const accounts = require('../../fixtures/accounts.json')`

[2021-01-07 18:18] annaet commented on #9
Hi @coltdorsey, I've been able to recreate the issue locally so will look into this.

[2021-01-07 18:21] annaet commented on #9
For now I assume you're aware of the [cy.fixture](https://docs.cypress.io/api/commands/fixture.html#Syntax) syntax that allows you to get access to your fixture from within your tests.

[2021-01-07 22:28] coltdorsey commented on #9
@annaet
Yes, thank you.

In most cases, cy.fixture works well.
In the case where it doesn't work, is if you want to loop an `it` block with data from a fixture.

[code]

Using import or require to initialize the object was the workaround I had found for the cy.fixture limitation, however this workaround unfortunately causes cypress-tags to crash.

[code]

[2021-01-16 14:18] annaet commented on #9
Hi @coltdorsey - I've just published a new version with a fix in for this (v0.0.18).

Let me know if you encounter anymore issues.

[2021-01-20 09:39] #9 closed

[2021-01-20 16:48] coltdorsey commented on #9
@annaet
Thank you for the fix you made.

I can confirm that the plugin no longer crashes when using the import to load in fixture data.

`import accounts from '../../fixtures/accounts.json'`

However, the plugin does still crash when using require to load in fixture data.

`const accounts = require('../../fixtures/accounts.json')`

[2021-01-28 22:49] JoxGarcia opened #11 "feature does not work with forEach method"
First, I really like this feature i was reading alot of how to add tags to cypress tests and this repo has resolved my problems but I found something that I dont know if its an issue or bug.

In my currently test-suite I have some object arrays that contains info and have something like:

[code]

The feature, doesnt recognize this types of its.

I dont know if this is going to be fixed in the futu

[2021-01-29 10:27] annaet commented on #11
Hi @JoxGarcia

Thanks for reporting this, and for providing an example! It sounds like a bug as it isn't something I'm currently testing. I'll look at adding it to my tests and will try to get a fix out for you.

[2021-01-31 16:55] annaet commented on #11
Hi @JoxGarcia

I've just released `v0.0.19` which I think should fix your problem.

I believe the issue wasn't the `forEach` loops themselves, but instead the use of template expressions in the test title.

For example,
[code]

I have added tests using `forEach` loops as well, just in case, but they appear to be working fine for me!

I'll close this issue for now, but please let me know if this di

[2021-01-31 16:55] #11 closed

[2021-02-01 14:47] PetMou opened #13 "Plugin crashes when running cypress (windows 10, cypress 5.6.0)"
Plugin crashes when running cypress (windows 10, cypress 5.6.0):

[code]

Are there any dependencies I am missing?
In my situation I find 2 issues cypress couldn't cope with (from index.js):
[code]
When I remove all occurrences of 'factory' in the js and replace 'createCallExpression' with 'createCall' everything runs fine...

[2021-02-01 14:51] annaet commented on #13
Hi @PetMou.

It looks like you're trying to use this in a JS file (`01authorisatie_A\01inloggen.spec.js`). Can you confirm if you're using TypeScript for this project?

Unfortunately this is a TypeScript only plugin, as it relies on traversing the TypeScript AST to find the tags and filter the tests.

[2021-02-09 16:16] iTsFILIPOficial opened #14 "Open Cypress with tags"
Im new to cypress tag, but I was looking around and was wondering if is possible to have the cypress open command that will only display the files that follow the tags.

[2021-02-17 17:57] clarkd opened #15 "MaxListenersExceededWarning warning"
We are seeing the following error when using this plugin, any tips to avoid this? It's failing our CI/CD tests as it's flagged as an error.

(node:1580) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 preprocessor:close listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit

[2021-02-18 18:28] annaet commented on #15
@clarkd I haven't seen this issue myself, but looks like it could be something coming from Cypress itself?

Have you checked out this issue?
https://github.com/cypress-io/cypress/issues/1305

[2021-02-18 18:33] annaet commented on #14
@iTsFILIPOficial You can use the environment variables in the command line to control what's shown in the Cypress console.

Eg. `CYPRESS_INCLUDE_TAGS=WIP npx cypress open`

[2021-02-18 18:33] #14 closed

[2021-02-19 20:39] clarkd commented on #15
@annaet Thanks, I had seen that issue & having dug into it a bit further, I can confirm the error isn't related to this plugin. Closing!

[2021-02-19 20:39] #15 closed

[2021-02-20 13:17] gfomichev opened #16 "Test with a title as a template string is always executed"
If your test title is a template string (enclosed by the backtick), it is not processed by tag filtering.
Can be reproduced in _cypress-tags-example_. Replace single quotes in the _I am a regular test_ test title with backticks (`)
[code]
_I am a regular test_ test will be executed even if only CYPRESS_INCLUDE_TAGS config is set.

[2021-02-22 17:23] annaet commented on #16
@gfomichev thanks for this report, I'll look into fixing this!

[2021-02-23 15:54] annaet commented on #16
@gfomichev this was actually fixed in version `0.0.19`, but I hadn't updated the version in `cypress-tags-example` so thanks for pointing that out!

If you pull down the latest code, I've updated the version and added some more example tests. I'll close this issue for now, but please let me know if you have anymore problems.

[2021-02-24 09:14] gfomichev commented on #16
@annaet I'm still able to reproduce the original behavior.
If your template string doesn't contain any expression (just a string enclosed by the backtick) the test is executed.

In file `integration\template_expressions.spec.ts` remove `${foo}` from line 4:
[code]
This `I am a regular test` test will be executed even if you set CYPRESS_INCLUDE_TAGS.

Could you check that, please?

[2021-02-24 11:06] annaet commented on #16
Ah yes you're right! I've been able to recreate this, will take a look later today.

[2021-02-24 17:57] annaet commented on #16
Hi @gfomichev - this should be fixed now in `v0.0.20`.

[2021-02-24 17:57] #16 closed

[2021-02-25 16:11] midleman commented on #13
At bare minimum, which files need to be converted to TS to be able to utilize this plugin?

[2021-02-26 14:40] annaet commented on #13
I've just tested this out with a fresh project, and the plugin should work so long as typescript is installed as a dependency. You will not need to change any files to .ts files.

My test project used only the following dependencies and was able to utilise the plugin:

[code]

@PetMou it sounds like you must have typescript installed somewhere if it's able to run the plugin at all, it's possible y

[2021-03-02 16:27] PetMou commented on #13
Thanks! Upgrading the typescript version did the trick. I like this plugin very much!

[2021-03-02 16:27] #13 closed

[2021-03-04 14:03] LtMama opened #18 "it.skip tests run before() hook"
Running with CYPRESS_INCLUDE_TAGS, any test that includes a it.skip() but not the included tag has it's relevant before() hook run, before quitting and showing as Pending in results output

[code]
Running the following:

`CYPRESS_INCLUDE_TAGS=@smoke ./node_modules/.bin/cypress run --browser chrome --spec cypress/integration/test_*.spec.js `

runs 3 files: test_nonskip.spec.js, test_skip.spec.js, t

[2021-03-08 14:08] nalmabrcom opened #19 "Adding to specified test .only or .skip to the function not working with tags"
Hello,

seems that having a tag and at the same time `.only` or `.skip` (e.g., `describe.only(['smoke'],'TC174956 Copybook - not exist: error underlined', () => {` brings this error:
[code]

[2021-03-17 20:26] kkaarreell opened #20 "CYPRESS_INCLUDE_TAGS doesn't work for describe() wrapping it() in a function"
Having a test with the following structure
[code]
`CYPRESS_INCLUDE_TAGS` cannot be used for filtering on the `describe()` level. E.g.
`CYPRESS_INCLUDE_TAGS=foo` won't run anything. I believe this is because `it()` is not in fact inside the `describe()` block and therefore the tag inheritance doesn't work properly.

[2021-03-17 21:40] kkaarreell commented on #20
So I did try something like this
[code]
The idea behind it is that we add extra tag `__inDescribe` to `describe()` node and `__inIt` tag to `it()` node. Then for a node we check if it has `__inIt` but not `__inDescribe` which would mean that `it()` is not inside the `describe()` block but standalone. For such nodes we do evaluation only based on the CYPRESS_EXCLUDE_TAGS list since we can assume th

[2021-03-23 13:38] JonCook opened #21 "cypress-tags doesn't work as described"
Hello, this sounded like a nice little project, but it just doesn't work 👎

When I run my tests eg.
```npx cypress run --env baseUrl=http://soar.esac.esa.int/soar CYPRESS_INCLUDE_TAGS=SOARTEST-32```

Gives me an error:
[code]

I believe my spec is defined correctly:
[code]

Thanks for any help

[2021-03-26 03:09] subhanKhalid commented on #21
It worked for me when I tried in my project. I think you have to pass the `CYPRESS_INCLUDE_TAGS=[name-of-your-tag]` before `npx cypress run` 😉

[2021-03-28 13:08] annaet commented on #21
Hi @JonCook - as @subhanKhalid says you will need to pass in the environment variables before running Cypress.

So in your case you could run:

`CYPRESS_INCLUDE_TAGS="SOARTEST-32" npx cypress run --env baseUrl=http://soar.esac.esa.int/soar`

I will look into why the variables are not being picked up by the `--env` tag though.

[2021-03-28 14:48] annaet commented on #18
Hi @LtMama,

This is an interesting issue as it highlights the difference between how this library and Cypress treat skipped tests.

If you see this issue: https://github.com/cypress-io/cypress/issues/3092, then you see that it is a Cypress feature (or bug depending who you ask) to mark skipped tests as pending. There is some debate on that ticket as to whether this is just a terminology issue or

[2021-03-28 14:50] annaet commented on #19
Hi @nalmabrcom

Thanks for raising this issue. This should be fixed in the latest release `v0.0.21`. Please try this out and let me know if you have anymore issues with this.

[2021-03-28 14:58] annaet commented on #20
Hi @kkaarreell

Thanks for raising this. I can confirm that I can replicate the issue.

I'll be happy to take a look at a PR if you can get something working for this. Otherwise, I'll try to find some time to have a look at this in the future.

[2021-03-28 15:04] annaet commented on #21
Hi - according to the Cypress docs (https://docs.cypress.io/guides/guides/environment-variables) you cannot set OS-level env vars via the `--env` tag.

Therefore I'll close this issue as you need to set the env var before calling Cypress using the example given in my previous comment.

[2021-03-28 15:04] #21 closed

[2021-03-28 15:08] #18 closed

[2021-03-28 15:08] #19 closed

[2021-03-28 15:22] kkaarreell commented on #20
Hi @annaet, basically I wanted to go with the patch above, which fixed my use case but may not work for other rare cases. In the PR I wanted to update the test suite too but I couldn't make it work and then I had to focus on something different. I am sorry but I am afraid I won't be able do do it any time soon.

[2021-03-28 16:10] annaet commented on #20
No problem - I'll leave this ticket open for the next time I have some time to work on this!

[2021-03-30 09:37] LtMama commented on #18
Hey @annaet,

Works a treat, thanks!

[2021-04-01 13:44] TomaszG opened #25 "Tests tagged in it() are not run if describe() is also tagged but with a different tag."
I'm not sure if that's a bug, however, I was surprised when my tests were not run despite the fact they have a correct tag set.

This can be easily reproduced with cypress-tags-example repo: https://github.com/annaet/cypress-tags-example

1. Clone and run `npm i`
2. Run `CYPRESS_INCLUDE_TAGS=FEATURE npx cypress run`
3. Check if `it([Tag.FEATURE], 'I will also become a wip test', () => { })` from `

[2021-04-15 15:01] tstackhouse commented on #21
I think this may be an issue with how they have it configured on their project, I'm running into a similar error message while running my tests, but I'm getting my env var first.  It looks like it may not be picking up the typings correctly, as it's complaining about the arguments passed to `describe`, specifically that it seems to be still getting the array of tags, not the title of the describe

[2021-04-15 16:24] tstackhouse opened #29 "Incompatible with other plugins that use preprocess/typescript"
I left a comment on another issue [here](https://github.com/annaet/cypress-tags/issues/21#issuecomment-820499500), however after looking into this more, it really seems like it's a larger issue surrounding how preprocessing works in the cypress ecosystem.  I'm using Nx in my project, which has its own preprocessor that handles adding the bits that it needs to the typescript environment and handles

[2021-04-19 22:13] annaet commented on #25
Hi @TomaszG

Thanks for your comment, and I think you're right!

It was originally planned that if a test was tagged but **wasn't** tagged with the requested tag, it would get ignored. Then I duplicated this functionality for describe blocks without much thought about the interaction between them.

Your point that we're not ignoring `WIP` tags in your example means that the tag at the describe blo

[2021-04-20 11:23] cw-pragna-bandi commented on #14
Hey @annaet , this command does not seem to filter out files according to different tags. It is still showing me all the files.

[2021-04-20 11:29] cw-manjugawde opened #32 "unable to run all tags"
we want to run all tags present in project, but there is no command to run it.
@annaet

[2021-04-20 11:35] cw-pragna-bandi opened #33 "Support for running spec files not having tags"
I have just started using this plugin and I would say it is very helpful. However, I am stuck at following -
There are certain test cases that do not have tags and I am unable to run them.
1. Is there any feature/command that will help me run my tests without any tags in it.
2. Is there any feature/command that will help me run all tests irrespective of tags.
@annaet

[2021-04-20 12:17] cw-pragna-bandi opened #34 "Support for running specific set of tags"
Hi @annaet we are trying to run test cases with specific set of tags but failing
For eg.

it(['smoke','wip'],'Test case 1' => () .......

it(['wip'],'Test case 2' => () .......

We want to run only those test cases with ['smoke','wip'] tag, but with the current version, it runs both my test cases since the second one contains 'wip' tag which is present in the command.

Do we feature/command/workar

[2021-04-20 15:25] eshaparenko opened #35 "There is no possibility to exclude empty runs"
Hi @annaet we are trying to run test cases via cli with tags, but somehow all specs are ran even when does not have tagged tests.

e.g.:  `cypress run --browser chrome --env CYPRESS_INCLUDE_TAGS=smoke CYPRESS_EXCLUDE_TAGS=wip
`

_test1.spec.js_
[code]
_test2.spec.js_

[code]

As you can see all specs should be skipped, but both of them where ran and empty result shown.

Is the any solution?

Thank

[2021-04-20 15:26] eshaparenko commented on #14
have the same issue

[2021-04-22 16:07] VickyLund99 commented on #34
@annaet: Would you be open if we make the change and submit a Pull Request?
I tried the below change and it seems to be working:

https://github.com/annaet/cypress-tags/blob/master/src/index.ts#L44
`const includeTest = isDescribeNode || includeTags.length === 0 || includeTags.every(tag => tags.includes(tag));`

I'll add a flag for this and test it thoroughly before submitting a Pull Request.

[2021-04-26 16:06] annaet commented on #33
Hi @cw-pragna-bandi

All tests will be run if you do not supply either of the environment variables. So you should just be able to run your usual test command, eg. `cypress run`.

[2021-04-26 16:07] annaet commented on #33
Also if you wanted to run **only** the tests which don't have any tags you would currently have to exclude all your tags using the `CYPRESS_EXCLUDE_TAGS` environment variable.

[2021-04-26 16:08] annaet commented on #32
Hi @cw-manjugawde

You can use the environment variables `CYPRESS_INCLUDE_TAGS` and `CYPRESS_EXCLUDE_TAGS` to control which tags will be run. If you want to run all tests, whether they have tags or not, you can exclude both of these env vars.

[2021-04-26 16:12] annaet commented on #34
Hi @cw-pragna-bandi

Currently the implementation is intended to run any test that matches any of the existing tags passed in (a boolean OR rather than a boolean AND). I wouldn't want to change this functionality as it would act as a breaking change.

It's possible we could add this as a setting that could be controlled via a new environment variable. An alternative in the short term would be to c

[2021-04-26 16:16] annaet commented on #35
Hi @eshaparenko

This is a known issue with the cypress `--env` CLI argument.

You will need to pass in the env vars before running the cypress command, for example:

`CYPRESS_INCLUDE_TAGS=smoke CYPRESS_EXCLUDE_TAGS=wip cypress run --browser chrome`

See this comment here for more details as to why this happens: https://github.com/annaet/cypress-tags/issues/21#issuecomment-808909210

[2021-04-26 16:17] annaet commented on #35
I will add this to the README as this is something that has come up before.

[2021-04-26 16:21] annaet commented on #29
Hi @tstackhouse

Thanks for raising this issue, I think what you've suggested makes sense. So I will take a look at the code we're outputting and see if I can help with your issue.

[2021-04-26 17:19] evoX0 opened #37 "Tag field in reports."
Is there any chance to reflect the tag name in the report?

[2021-04-29 14:47] TomaszG commented on #32
My observation is that when you provide neither CYPRESS_INCLUDE_TAGS nor CYPRESS_EXCLUDE_TAGS then all tests are run.

You can also operate on those envs in plugins/index.js, e.g.:
[code]
which should run all tags when 'all' is provided.

[2021-04-29 14:51] TomaszG commented on #33
It's related to https://github.com/annaet/cypress-tags/issues/32 and the answer is very similar - you can add the behavior in plugins file:
[code]

[2021-05-07 08:28] cw-pragna-bandi commented on #34
@annaet Hey, are you planning to implement this in coming release. We are open to helping you out.

[2021-05-10 18:10] facundoem94 opened #47 "Tests using xit instead of it are failing"
**Description**
Mocha command "xit" (used for skipping tests) isn't working with tags.

**Steps To Reproduce**:
1. Clone cypress-tags-example project.
2. Modify any test using "it" command with tags.
3. Run test from browser or command.

**Actual Result**:
Tests are failing using xit.

**Expected Result**:
Tests are skipped correctly using xit.

**Screenshots**:
![image](https://user-images.github

[2021-05-17 14:50] sdineshwaran commented on #29
I'm facing the same issue mentioned in description and It's blocking me to implement cypress-tags in my project.
Any possible workarounds?
@tstackhouse @annaet Suggestions?

[2021-05-25 16:24] annaet commented on #32
I'm going to close this issue as I believe it's functioning as expected.

[2021-05-25 16:24] #32 closed

[2021-05-25 16:25] annaet commented on #33
I'm going to close this issue as I believe the question has been answered.

[2021-05-25 16:25] #33 closed

[2021-05-25 17:56] annaet commented on #25
Hi @TomaszG I've just release v0.1.0 of cypress-tags. I believe this version should fix your issue.

Please let me know if you're still experiencing any issues after upgrading.

[2021-05-25 17:57] #25 closed

[2021-05-25 17:58] annaet commented on #34
Hi @cw-pragna-bandi,

I've just released v0.1.0 of cypress-tags and it now includes environment variables to do the behaviour you've requested.

If you use the environment variables `CYPRESS_INCLUDE_USE_BOOLEAN_AND=true` and `CYPRESS_EXCLUDE_USE_BOOLEAN_AND=true` you will be able to control this behaviour for include, and exclude separately.

Please let me know if you have any issues with this aft

[2021-05-25 17:58] #34 closed

[2021-05-25 17:59] annaet commented on #35
This has now been added to the README.

[2021-05-25 17:59] #35 closed

[2021-05-25 17:59] annaet commented on #47
Hi @facundoem94,

As of v0.1.0 `xit` and `xdescribe` should be supported.

Please let me know if you have any issues after upgrading.

[2021-05-25 17:59] #47 closed

[2021-05-26 18:56] facundoem94 commented on #47
Will take a look, thanks!

[2021-05-26 18:56] facundoem94 commented on #47
Will take a look, thanks!

[2021-05-28 06:43] nalmabrcom opened #58 "Debug Failure. Unhandled SyntaxKind: EmptyStatement."
Seems with the new version I've got this error. When I delete the `cypress-tags` from the project I don't see it.
Here is my `plugins/index.js` file:
https://github.com/eclipse/che-che4z-lsp-for-cobol/blob/1fa56be609ac8371b69abba267988d8d5c57956f/tests/cypress/plugins/index.js#L50

Output:
[code]

[2021-05-28 10:58] nalmabrcom commented on #58
@annaet I think I found what causes the problem.
`CYPRESS_EXCLUDE_TAGS`. Can you reproduce this issue?

[2021-05-31 10:53] rodribera32 commented on #58
@annaet I'm getting this error too. Do you know what could be the problem?
Using win 10, node v14, cypress @6.9.1 and @7.4.0

[2021-06-08 18:24] JoxGarcia opened #61 "Cypress Tags not working"
Recently was updating the new version but having these problems while I install

`npm install cypress-tags

npm WARN deprecated chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.
npm WARN deprecated fsevents@1.2.13: fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.
npm WARN deprecated urix@0.1.0: Pleas

[2021-06-09 07:25] omjokine commented on #58
Upgraded typescript from @4.2.4 to @4.3.2 and now I'm getting this error. So probably there's some mismatch between latest TypeScript and this plugin.

[2021-06-10 21:53] ShyamRaj opened #62 "Does not work with React Component Testing"

[2021-06-10 21:56] annaet commented on #58
Sorry for the delayed response on this - thanks for reporting. I'll look into it and hopefully get a fix out soon.

[2021-06-10 22:16] annaet commented on #61
Hi @JoxGarcia

I don't think this is an issue with cypress-tags, I believe it's to do with macOS updating.

See this article for details: https://medium.com/flawless-app-stories/gyp-no-xcode-or-clt-version-detected-macos-catalina-anansewaa-38b536389e8d

[2021-06-10 22:16] #61 closed

[2021-06-11 09:04] annaet commented on #58
@nalmabrcom

I wasn't able to recreate this locally in my projects. Do you have a simple project where you can recreate this bug? I had a look at the repo you linked but I'm not sure how to run it.

[2021-06-15 18:07] puggerina opened #66 "multitags on TC is flaky"
when I use multi tags on TC the tests are not filtered properly

[2021-06-16 16:34] annaet commented on #66
Hi @puggerina,

Can you please descibe your issue in some more detail? What do you mean by TC? And what incorrect filtering are you seeing?

[2021-06-16 16:36] annaet commented on #37
Hi @evoX0,

I'm afraid that's not something we can support. This library only acts as a preprocessor, so it has no effect on the actual Cypress test runner.

[2021-06-16 16:36] #37 closed

[2021-06-23 05:32] omjokine commented on #58
@annaet https://github.com/annaet/cypress-tags/runs/2873166875

[2021-07-08 12:27] omjokine commented on #58
I was able to debug this issue and seems that `factory.createEmptyStatement()` causes this failure. Replaced it with `createOmittedExpression` which seems to work okay. However, I'm not 100% sure is there some side-effects with this, but probably not, because tests are running okay.

https://github.com/annaet/cypress-tags/pull/76

[2021-07-08 18:24] joxgarcia1997 opened #77 "Pluing Crashing"
Today I clone the cypress-tags-example repository , I install the dependencies and try to run the cy:wip command but I have this happens

[code]

Also, when I install the new cypress-tags module, I have this failures:

[code]

Im using a linux machine.

[2021-07-12 16:03] annaet commented on #77
Hi,

This is a duplicate of https://github.com/annaet/cypress-tags/issues/58

I'm hoping to have a fix out later today so I'll close this one for now!

[2021-07-12 16:03] #77 closed

[2021-07-12 16:25] annaet commented on #58
Thanks for the pull request @omjokine! I've merged your fix and published v0.2.0. This is working with the latest typescript on my projects, so hopefully this should fix the problem for you too.

[2021-07-12 16:26] #58 closed

[2021-07-20 13:44] QuentinFarizon commented on #32
When I don't provide CYPRESS_INCLUDE_TAGS nor CYPRESS_EXCLUDE_TAGS, then NO tests are run.

What am I missing ?

[2021-07-20 21:32] annaet commented on #32
@QuentinFarizon What command are you using to run your tests? You should be able to run your tests using the same command you would without the plugin installed, eg. `npx cypress run`

[2021-07-20 22:02] QuentinFarizon commented on #32
Yes, simply with run

I have just installed the plugin, loaded the plugin as mentioned in the
doc, tagged one test, and ran the same I command I always ran.

Le mar. 20 juil. 2021, 23:33, Anna Thomas ***@***.***> a
écrit :

[2021-08-24 11:24] TomaszG opened #100 "Cypress ^7.4.0 as dependency causes downloading multiple cypress version when used with Cypress in other version"
When I want to use cypress-tags with e.g. Cypress 8, then `npm i` downloads Cypress 8 (as it's my dev dependency) and Cypress 7.4.0 (as it's a cypress-tags dependency). Of course, Cypress 7.4.0 is not used at all, and due to the size of the Cypress package downloading it takes a significant amount of time. Proposed solution is to include Cypress as a peer dependency, preferably in `any` version.
[

[2021-08-25 15:27] MaksimYaginov opened #102 "Does cypress-tags work only with relative paths from the current package?"
Hi! When I use a path relative to root (cypress/utils/dataGenerator)-  Can't walk dependency graph: Cannot find module 'cypress/pages/mainPage', but I use a path relative from current package (../../../utils/dataGenerator) - it works.
How can I solve this?

[2021-09-01 08:03] TomaszG commented on #100
@annaet were you able to take a look at this?

[2021-09-06 09:09] annaet commented on #100
@TomaszG I've added a comment to your pull request.

[2021-09-27 09:14] #100 closed

[2021-10-05 08:39] rightsaidjames opened #116 "Does cypress-tags work if your Cypress code is not written in TypeScript?"
Apologies if this isn't the right forum for idle questions - let me know if you'd prefer a different medium.

I was wondering if it's possible to use the cypress-tags plugin if your project is already using TypeScript for other stuff (i.e. the actual frontend code) but the Cypress code is written in vanilla JS? We already have a dedicated tsconfig.json for our Cypress codebase ([like this one](htt

[2021-10-06 07:46] TomaszG commented on #116
That's the case in my project:
1. Cypress tests are in JS.
2. Tags definitions for cypress-tags are in TS.
2. Backend code (parts of it are used in Cypress) is in TS, previously it was a mix of JS and TS.

Everything works fine as Cypress supports both JS and TS - `cypress open` and `cypress run` commands don't have any problem running the tests in such form.

[2021-10-06 08:11] annaet commented on #116
Hi @rightsaidjames

As @TomaszG says it should be possible to write your tests in vanilla JS, cypress-tags uses typescript to filter your tests based on their tags, but it should not prevent you from writing the tests in pure JS.

[2021-10-06 09:56] rightsaidjames commented on #116
Thanks both for your helpful and quick responses 🙂

[2021-10-06 09:56] #116 closed

[2021-10-12 06:12] alina-thorzen opened #118 "Plugin error"
The following error was thrown by a plugin. We stopped running your tests because a plugin crashed. Please check your plugins file (`C:\Work\cypress-project\cypress\plugins\index.js`)

 TypeError: Cannot read property 'createOmittedExpression' of undefined
    at visit (C:\Work\cypress-project\node_modules\cypress-tags\dist\index.js:178:47)
    at C:\Work\cypress-project\node_modules\cypress-tags\

[2021-10-14 21:00] annaet commented on #102
Hi @MaksimYaginov

This doesn't sound like an issue with the cypress-tags plugin, rather a problem with your app itself? I'm not sure why you would be using a path relative to root rather than a path relative to the current file when importing data.

[2021-10-14 21:02] annaet commented on #118
Hi @alina-thorzen

Can you provide some more information on your environment please to help debug this issue? What version of typescript are you using?

Are you able to run the [example project](https://github.com/annaet/cypress-tags-example) successfully?

[2021-11-05 20:07] jinisha opened #129 "CYPRESS_INCLUDE_TAGS is not a recognized as an internal or external command error."
![image](https://user-images.githubusercontent.com/9576963/140572129-435c788c-c8ee-4edc-a9b7-c78520bf0cd5.png)

[2021-11-08 21:39] jinisha commented on #118
I am using typescript 3.8.3 version and getting the same issue.

[2021-11-08 21:43] jinisha commented on #118
@annaet I was able to run your working example successfully after I modified the package.json scripts a bit.

![image](https://user-images.githubusercontent.com/9576963/140822855-a32ae242-5c54-41b2-9bf7-0a3d6a51744f.png)

[2021-11-08 22:14] annaet commented on #129
Hi @jinisha

It looks like you're running this on a windows command line, is that right? If so this run command will fail as it sets environment variables differently.

I believe you'd need to add a `set` in front of the env vars for them to set correctly. So the command would become:

[code]

Hopefully this helps.

[2021-11-08 22:19] annaet commented on #118
@jinisha

The cypress-tags projects are using typescript v4.3.5 so it may be worth updating to ensure it runs smoothly.

Please see my comment on your other issue regarding environment variables.

[2021-11-09 17:16] jinisha commented on #129
In the 1st instance I am running the npm run cy:smoke command after downloading the working example. It threw CYPRESS_INCLUDE_TAGS is not reccognized as an internal command.

In the 2nd instance, I tried passing Cypress environment variables in the package.json and its working as expected.
![image](https://user-images.githubusercontent.com/9576963/140972584-784a0d2a-6954-4565-8469-7a2583c0d34b.png

[2021-11-09 17:30] annaet commented on #129
@jinisha Great, glad to see you got it working.

I will make note of the fact that env vars need to be set this way for Windows users thank you.

Given you have resolved the issue, I will close this ticket.

[2021-11-09 17:30] #129 closed

[2021-12-01 03:19] praveentata commented on #21
Hello,

I am having the same issue.
Here is my command:
`CYPRESS_APP=my_app CYPRESS_INCLUDE_TAGS=smoke npx cypress run --browser=chrome --headless`

Cypress runner is picking up all the spec files and failing with error mentioned by @JonCook

[2021-12-16 11:21] dve opened #139 "Allow before and beforeEach to be tagged"
It would be nice to have before and beforeEach also be able to respect tags

[2021-12-16 15:31] peterjaap commented on #21
Running into the same issue

[code]

This is my `cypress/plugin/index.js`;

[code]

This is the only plugin I have installed;

[code]

[2022-01-05 12:09] annaet commented on #139
Thanks @dve, this is a good idea. I'll look into it.

[2022-01-05 12:14] annaet commented on #21
@peterjaap Can you share your test code?

Have you tried running some of the examples in either the `cypress-tags` repo or from `cypress-tags-example`? That might help determine where the problem is coming from.

[2022-01-05 12:17] annaet commented on #139
If it helps in the short term you can always wrap your before/after hooks and tests inside a tagged describe? Or did you have a scenario where you wanted to have different tags on the before/after hooks within the same block?

[2022-01-08 02:16] #118 closed

[2022-01-08 02:16] #102 closed

[2022-02-09 20:17] jprealini opened #153 "Error if I execute cypress in CLI passing CYPRESS_EXCLUDE_TAGS before npx cypress open"
Hi... We are facing a weird scenario. For a project where several testers are working, following the exact procedure to clone and setup the cypress project, some can execute like:

CYPRESS_EXCLUDE_TAGS=tag npx cypress open --env host=blah

and other get an error that says

CYPRESS_EXCLUDE_TAGS=tag : The term 'CYPRESS_EXCLUDE_TAGS=tag' is not recognized as the name of a cmdlet, function, script fil

[2022-02-11 13:43] jprealini commented on #153
Hi @annaet .. thanks for your response. I found he issue probably a couple of hours before your reply, but you confirmed what I was suspecting. Executing cypress in the bash (or git bash) terminal allows you to pass env variables before executing **npx cypress run** or **npx cypress open** and allows you to even pass more env variables after using the --env option

But if you are used to run from

[2022-02-11 13:43] #153 closed

[2022-02-23 13:44] zimmicz opened #159 "How to run cypress-tags when already using another file:preprocessor"
I have a `plugins/index.ts` file that already uses webpackPreprocessor:

[code]

How do I enable cypress-tags preprocessing as well? When I put it above the webpackPreprocessor line, it does not seem to do anything. When I put it on a line below, I get a bunch of errors like this one:

[code]

Is it possible to use cypress-tags alongisde other preprocessors?

[2022-04-06 02:52] anudeepreddy opened #166 "Adding support for boolean expressions"
Hi @annaet👋,

Thanks for the work you have done on this. I am planning to add support for boolean expressions in parallel to the comma-separated tags that are already supported. With this feature users will be able to provide a config like `CYPRESS_INCLUDE_EXPRESSION='smoke AND (my-feature1 OR my-feature2)'`. This ability will let users slice the tests more effectively.

I will be adding two more

[2022-04-06 06:44] annaet commented on #166
Hi @anudeepreddy

That sounds great, thanks for the suggestion. The contribution would be welcome.

[2022-05-26 15:53] admah opened #179 "Update plugin to be compatible with Cypress 10"
Hello 👋 I'm writing on behalf of the Cypress DX team. We wanted to notify you that some changes may need to be made to this plugin to ensure that it works in Cypress 10.

For more information, here is our [official plugin update guide](https://cypressdx.notion.site/Cypress-10-Plugin-Update-Guide-7474129c5a3b4cc7b969d1934c5844a0).

[2022-06-13 16:01] g-di-martino opened #186 "Retrieve test tags"
Is it possible to retrieve the tags used for the test currently being executed?
Maybe adding them to the _test_ object

[2022-06-15 15:14] jmgate opened #187 "Use cypress-tags with cy2 for parallel testing"
I need to be able to use `cypress-tags` in conjunction with the [`cy2` executable](https://docs.sorry-cypress.dev/cypress-agent/cy2) provided with [Sorry Cypress](https://sorry-cypress.dev/) to achieve test parallelization.  Is there a way to have `cypress-tags` use `cy2` instead of `cypress` under the hood?

[2022-07-05 12:10] AmiChandra89 commented on #179
Hi @annaet ,
Do we have any update on this enhancement? Thanks :)

[2022-07-05 15:49] annaet commented on #179
Hi @AmiChandra89, unfortunately I haven't had a chance to work on this. But I'd be happy to accept an MR if you wanted to take a look yourself.

[2022-07-05 15:49] annaet commented on #186
Hi,

Not at the moment I'm afraid.

[2022-07-05 15:51] annaet commented on #187
Hi,

I've not used sorry cypress myself so I'm not sure how their plugin interactions work. You would likely be able to adapt the cypress-tags code to work with it but I doubt it'll just plugin out of the box.

[2022-07-06 16:15] jmgate commented on #187
We managed to get it working, and there weren't any hacks needed with respect to `cypress-tags`.  Apparently our problem was just in how we had `cy2` listed as a dependency of our Cypress tests package.  Sorry to have bothered you.

[2022-07-06 16:15] #187 closed

[2022-08-02 10:21] #179 closed

[2022-08-02 11:09] annaet commented on #166
Available in v1.0.0 now. Thanks for your contribution!

[2022-08-02 11:09] #166 closed

[2022-08-03 17:00] mudit94 opened #200 "Support for js"
My tests are written in Javascript. It is not working for that

[2022-08-05 11:11] #159 closed

[2022-08-11 21:37] gogoid88 opened #203 "sync skip abort execution issue with cypress-tags"
The issue seems to be config-related not code related. The repo is private and protected so won't be able to share it.

Running - > "npx cypress-tags run -e 'TAGS=https://github.com/rerun' --headless" command with configuration below works fine.
Cypress package version: 9.5.1
Cypress binary version: 9.5.1
Electron version: 15.3.4
Bundled Node version:
16.5.0

But running the same command with the

[2022-08-16 17:39] AlexSdet opened #205 "Module "cypress-tags" has no exported member 'tagify'."
Im trying to add this Package to my framework, but after run npm install cypress-tags
And copy import line to my cypress.config.ts

Im simple getting this issue:

Module "cypress-tags" has no exported member 'tagify'.

[2022-08-17 22:49] jgonzalezalbisu commented on #205
a workaround for now would be to add `const tagify = require('cypress-tags');`

[2022-09-06 13:38] annaet commented on #200
This project was never intended to work for JS files as it uses the Typescript AST under the covers.

[2022-09-06 13:38] #200 closed

[2022-09-06 15:01] #205 closed

[2022-09-07 19:41] DPC15038 opened #211 "Export Tagify Function Not Properly Working"
The [PR that was merged yesterday](https://github.com/annaet/cypress-tags/pull/210) appears to introduce an issue. Whenever I run that code, I get the error
[code]
I was able to fix it by reverting the change in  `cypress.config.ts` from
`on('file:preprocessor', () => tagify(config));`
back to
`on('file:preprocessor', tagify(config));`

Also, I had to change the `index.ts` file within this repo fr

[2022-09-08 03:20] lenonMax commented on #211
Same problem here.

[2022-09-08 09:24] annaet commented on #211
I'll take a look at this today 👍

[2022-09-08 15:28] DPC15038 commented on #211
Reviewed your PR, and it looks good to me. Thanks for fixing this 👍

I'd say you can close this ticket as completed.

[2022-09-08 15:29] annaet commented on #211
Brilliant thanks.

[2022-09-08 15:29] #211 closed

[2022-09-09 01:19] zaq42 commented on #211
This is a breaking change for me.

Running cypress-tags:1.0.2 in BitBucket Pipelines on cypress-included:10.7.0
[code]

I've rolled back to cypress-tags:1.0.0

[2022-09-09 08:57] annaet commented on #211
@zaq42 Apologies I think it's because I switched from a default export to a named export. It should have been a major change rather than a patch.

I imagine you have something like

[code]

as your import currently?

If you switch it to

[code]

then it should work with 1.0.2 as expected.

[2022-09-13 05:08] DiwanD03 commented on #21
@annaet Seeing exactly the same error:
[code]
Versions:
"cypress": "^10.4.0",
"cypress-tags": "^1.0.2"

cypress.config.js file changes:
const tagify = require('cypress-tags');
on('file:preprocessor', () => tagify(config));

Added an empty tsconfig.json file at the root directory

TestCase:
[code]

[2022-09-13 08:28] peterjaap commented on #21
I found my problem, maybe it's the same for you @DiwanD03.

My problem was that I forgot to 'enable' the cypress-tags module in `setupNodeEvents` in the Cypress config file;

[code]

So it didn't enable cypress-tags and thus expected a string (the test name) but got an object (the tags).

[2022-09-13 08:53] annaet commented on #21
@DiwanD03 The `tagify` object is a named import, so can you change your import to:

[code]

And then your `file:preprocessor` step should just be a direct call to the `tagify` function.

eg.
[code]

Can you try that and see if it helps?

[2022-09-13 08:57] DiwanD03 commented on #21
Hi @peterjaap, I have enabled cypress-tags module in `setupNodeEvents` already. It still doesn't work

[2022-09-13 08:58] DiwanD03 commented on #21
Hi @annaet, tried above changes that you suggested. Getting below error with this:
<img width="1176" alt="Screenshot 2022-09-13 at 2 28 12 PM" src="https://user-images.githubusercontent.com/113411583/189858670-a9fd4a1c-f7fc-4e0e-8c80-80f8fedf6876.png">

Code Snippet:
[code]

[2022-09-13 09:16] annaet commented on #21
@DiwanD03

Ah you'll still need to use a require statement then.

Try ```const { tagify } = require('cypress-tags');```?

[2022-09-13 09:25] DiwanD03 commented on #21
@annaet
Then I end up getting the initial error I reported
[code]

[2022-09-13 09:33] annaet commented on #21
@DiwanD03 I'm not sure what else to suggest as that should be all that's needed to transform your test files.

Are you using TypeScript? You should be able to reference the types using in your `support/index.d.ts` file.

[code]

[2022-09-13 09:41] DiwanD03 commented on #21
@annaet I am using js rather than typescript as base for the framework.

For easier debugging, I tried using tags on both two versions of Cypress. Below are the details of each:
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta http-equiv="Content-Style-Type" content="text/css">
<title></title>
<meta name="Generator" content="Cocoa HTML

[2022-09-13 09:44] DiwanD03 commented on #21
Have added below in my spec file already.
[code]
It doesn't help.

Have used basic Cypress scaffold tests above to depict the issue, as actual code cannot be shared here.

[2022-09-13 09:51] annaet commented on #21
Thanks for the example, I will take a look at this.

[2022-09-13 09:59] annaet commented on #21
Hi @DiwanD03 - I've run both your provided examples and they both work for me.

For the non-working version I changed `const tagify = require('cypress-tags');` to `const { tagify } = require('cypress-tags');` as per my above suggestion to make it work.

I can also confirm that it works for me when an include filter is provided.

[2022-09-13 10:04] DiwanD03 commented on #21
Interesting. It now worked for me too. I replaced the above suggested `const { tagify } = require('cypress-tags');` again.

Thank you @annaet for the resolution and diligent follow up.

[2022-09-13 22:30] gogoid88 commented on #203
Can someone please check this issue.

Additionally if the tag is present in multiple feature files then cypress executes only one feature file.

[2022-09-14 10:20] peterjaap opened #215 "querystring deprecation notice"
After installing this plugin;

[code]

[code]

[2022-09-15 10:29] anudeepreddy opened #216 "V1.0.0 not compatible with cypress 9"
Hi,

I have just noticed that the support for cypress 10 breaks the plugin's compatibility with versions below that, is this an intended change to not support older versions of cypress?

[2022-09-15 10:37] annaet commented on #216
Hi @anudeepreddy,

Nothing has changed in the functionality with the move to Cypress 10, so if you're still using a lower version of Cypress you should be able to stay on your previous version of cypress-tags

[2022-09-15 10:40] anudeepreddy commented on #216
For version 1.0.0 the peer dependency of Cypress is >=10. I am currently using version 9 of Cypress and I am unable to use cypress-tags@1.0.0 which has support for expressions.

[2022-09-15 10:41] annaet commented on #216
Ah I see, good point. I will take a look at including support for lower versions given that.

[2022-09-16 03:06] zaq42 commented on #211
@annaet Thanks for the prompt response, and apologies for the delay at my end.  (I thought I'd get a notification from github)

You are right.  After making the precise change that you recommended, all is good again.

Thank you!

[2022-09-16 04:23] GeorgeXCV opened #217 "Suite argument "title" must be a string. Received type "object""
I'm following the same format as ReadMe yet I keep getting an error, why?

Example:
[code]

Error:
[code]

[2022-09-16 10:42] gebeto commented on #216
Yeah, I'm also using NX v13, and there are only max version of cypress supported is v8, but I had also installed cypress v6 and it works fine with so old version, can you please allow this plugin also for v6?

[2022-09-19 18:10] pdisselhorst opened #220 "Cypress 10 + cypress-tags 1.0.0 looking for cypress.json"
Currently on Cupress 10.3.1 and trying to add cypress-tags (version 1.0.0 showing in package-lock.json).

Whenever I attempt to run any cypress-tags commands, I see the following error:

Failed to read cypress.json, using default configuration
Spec files:  cypress/integration/**/*.feature
No matching tags found

Any ideas why it is still searching for cypress.json instead of the new cypress-config

[2022-09-20 08:46] annaet commented on #216
Hi @anudeepreddy / @gebeto

I have just released v1.1.0 with support for v6. Hopefully this fixes your issue.

[2022-09-20 08:46] #216 closed

[2022-09-20 08:48] annaet commented on #220
Hi @pdisselhorst

Are you sure that's a cypress-tags issue? Cypress is the one that will look up your cypress.json or cypress.config.ts file. Cypress-tags is just a pre-processor.

I would also suggest upgrading to `cypress-tags@1.1.0`  as there were a couple of bug fixes added.

[2022-09-20 08:49] annaet commented on #217
Hi @GeorgeXCV

It sounds like the preprocessor isn't set up correctly.

Can you show what you've got in your `cypress.config.ts` file please?

[2022-09-20 08:54] annaet commented on #215
Hi @peterjaap

It looks like `querystring` is used as part of `browserify` and they have not released a version that replaces it with URLSearchParams yet.

Until that happens we can just ignore the deprecation warning.

[2022-09-20 08:54] #215 closed

[2022-09-20 08:58] annaet commented on #203
Hi @gogoid88

This does not sound like an issue with the `cypress-tags` preprocessor.

However I would suggest using the same version of the cypress binary as your cypress package.

[2022-09-20 08:58] #203 closed

[2022-09-20 09:18] gebeto commented on #216
Thanks a lot! 🙌

[2022-09-20 12:41] GeorgeXCV commented on #217
I lost my changes and now I can't get the package to work at all:
`Cannot find module 'cypress-tags' or its corresponding type declarations.ts(2307)`

This was config file:
[code]

[2022-09-20 12:43] annaet commented on #217
Hi @GeorgeXCV

Can you try reinstalling the plugin?

[2022-09-20 12:46] GeorgeXCV commented on #217
Tried that already along with `npm install`.

[2022-09-20 12:48] annaet commented on #217
Can you give me the version of cypress-tags and Cypress that you're using?

And can you confirm Cypress is working as expected when you remove the cypress-tags plugin?

[2022-09-20 13:43] annaet commented on #217
And you can see `cypress-tags` is installed when you run `npm ls cypress-tags`?

I'm not sure why node wouldn't be able to find the package if it's all installed.

[2022-09-21 03:06] zaq42 opened #225 "1.1.1 Broken - Cannot find module"
Running Cypress gives the following error after upgrading to cypress-tags:1.1.1.

Reverting to 1.1.0 works as expected.

[code]

[2022-09-21 07:45] gavinhenderson commented on #225
Having the same issue 👍

[2022-09-21 10:54] annaet commented on #225
I've been able to replicate this, will look into a fix

[2022-09-21 11:54] annaet commented on #225
Hi @zaq42 / @gavinhenderson

I've just published 1.1.2 which should resolve this issue.

[2022-09-21 11:54] #225 closed

[2022-09-21 11:55] annaet commented on #217
Hi @GeorgeXCV

This appeared to be an issue with 1.1.1, a new version 1.1.2 has now be released that should fix the issue.

[2022-09-22 10:16] annaet commented on #220
@nikotomad can you share your `cypress.config.ts`?

[2022-09-22 13:02] nikotomad commented on #220
Yes, surely. I've hidden some values but the context is still there (keep in mind this is a custom config file for mobile but same happens with the main config entry point regardless)

![image](https://user-images.githubusercontent.com/10640643/191753919-28d8a356-b88b-47c7-9ab9-e3444f901008.png)

Appreciate you reaching back to us

[2022-09-22 13:07] annaet commented on #220
Hi @nikotomad

It looks like you're not actually using `cypress-tags` as your preprocessor. I don't think the plugin would be compatible cucumber for this reason, as they both filter tests in different ways.

As per this issue (https://github.com/infosum/cypress-tags/issues/29) we currently can't support running alongside other preprocessors.

I would suggest if you're using cucumber then you will

[2022-09-23 01:56] zaq42 commented on #225
Thanks @annaet

Confirming that 1.1.2 works as expected for me.

[2022-09-23 10:40] GeorgeXCV commented on #217
@annaet Thanks, seems to work now! Although I have one last issue, I get this error when running tests:

`SyntaxError: 'import' and 'export' may appear only with 'sourceType: module'`.

 It is caused by this line:       `on('file:preprocessor', tagify(config));`.

Is it some project configuration required that is not included in ReadMe?

[2022-10-02 09:20] RiturajKandiyal opened #227 "Error: Error on worker #1: Error: Debug Failure. Unhandled SyntaxKind: Unknown. at pipelineEmitWithHintWorker"
I am upgrading my Angular project from version 10.2.x to version 11. As per official angular update guide, when I run the command: -

it throws following error:

My package.json file looks like below after running the above update command: -

The command did upgrade required dependencies to version 11 but threw error too. I tried looking for a solution on internet, but didn't find much. After this

[2022-10-03 06:03] samyak087 opened #228 "Type CardModule does not have 'ɵmod' property"
Project consist of angular+Storybook both->angular version 10 and storybook version 6.0.10. After upgrading angular version from 9 to 10 when I am running commands of storybook all the commands are executing successfully in my VSCode termial but after running npm run storybook when the localhost open I am seeing emod error in the storybook in browser. Approaches tried but nothing worked in our cas

[2022-10-04 08:56] bquercia commented on #35
Hello @annaet,
I don't think that the issue referenced in the original post was linked to the use of the --env argument.
I seem to face the same issue no matter how I set the variable.
The issue is not that cypress-tags is not working, it is how it works. I have a project with 20 spec files; when I launch a cypress execution with a tag that targets only one test in one spec file, indeed only this

[2022-10-13 21:44] AndrewAvalos opened #233 "Test argument "title" should be a string. Received type "object""
Hello, I am having trouble getting cypress-tags to work properly in my project. I've reviewed and tried everything from the previous related issue https://github.com/infosum/cypress-tags/issues/21 but unfortunately nothing seems to work.

    "cypress-tags": "1.1.2",
    "@cypress/webpack-preprocessor": "5.11.1",
    "cypress": "10.10.0",

Test Command:
[code]

Spec File snippet
[code]

cypress.co

[2022-11-09 09:25] sciborski commented on #217
Having the same issue

[2022-11-11 05:44] GrayedFox opened #238 "Feature request: mark skipped nodes as pending"
Thanks for the awesome plugin :)

If I understand correctly, this line replaces test nodes that are not part of the bundled/tagged tests to be run with a semicolon, effectively skipping those tests:

https://github.com/infosum/cypress-tags/blob/master/src/index.ts#L232-L237

Would you consider adding a flag that, instead of replacing said nodes with a semicolon, replaces them with a call to the eq